@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #242423;

    display: grid;
    grid-template-rows: 7% 93%;
    align-items: center;
    justify-items: center;

    height: 100vh;
}

/* Quadro */
#calendar {
    display: flex;
    align-self: center;
    grid-row: 1/2;    
    justify-self: flex-start;

    margin-top: 20px;
    margin: 1%;

    height: 100%;
    width: 40%;
}

#day {
    background-color: #333533;
    color: white;
    text-align: center;
    font-weight: bolder;

    border: none;

    width: 50%;
}

#quadro {
    background-color: #333533;

    display: flex;
    flex-wrap: wrap;
    grid-row: 2/3;
    align-self: flex-start;

    width: 98%;
    height: 98%;
}

/* Botão Criar */

#create-container {
    background-color: rgba(255, 255, 255, 0);

    margin: 35px;

    height: 42%;
    width: 75px;
}

#create {
    display: block;
    
    border: 4px dashed #6E28A8;
    border-radius: 15px;
    
    background: url(../images/mais.png) center center no-repeat;
    background-size: contain;

    height: 100%;
    width: 100%;
}


/* Bloco */

.block {
    background-color: #fff;
    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 55% 25%;

    margin: 35px;
    
    width: 17%;
    height: 42%;
}

.block .title {
    font-size: 0.8em;
    
    grid-column: 1/4;
    align-self: center;

    margin-left: 10px;

    height: 50%;
    width: 90%;
}

.block .time {
    color: #5FAFF5;
    font-size: 1.5em;

    grid-column: 4/5;
    align-self: center;

    width: 100%;
    height: 50%;
}

.block .content {
    text-indent: 5px;
    font-size: 0.8em;
    
    grid-row: 2/3;
    grid-column: 1/5;
    
    overflow: hidden;
    justify-self: flex-start;
    
    padding: 10px;
    margin: auto;
    
    height: 100%;
    width: 90%;
}

.block .edit, .block .delete {
    display: grid;

    align-self: flex-end;
    justify-self: center;
    
    margin-bottom: 10px;
    border-radius: 15px;

    height: 70%;
    width: 70%;
}

.block .edit {
    background-color: #5FAFF5;
    color: #333533;

    grid-column: 3/4;
}

.block .delete {
    background-color: #6E28A8;
    color: white;

    grid-column: 4/5;
}

.block .edit #edit, .block .delete #garbage {
    align-self: center;
    justify-self: center;
}


/* Janela Modal / Formulário*/

#background-modal {
    background-color: rgba(0, 0, 0, 0.216);

    position:absolute;

    height: 100vh;
    width: 100vw;
}

#modal {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#form-modal {
    color: white;
    background-color: #242423;
    
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto auto auto;
    
    border-radius: 30px 5px;
    padding: 25px;

    width: 650px;
    height: 550px;
}

#modal-title { 
    background-color: #e8eddf;
    border-radius:  15px 15px;
    outline: 2px solid #333533;
    
    text-indent: 20px;
    font-size: 1em;
    
    display: block;
    grid-column: 1/4;
    align-self: baseline;
    justify-self: center;

    width: 100%;
    height: 60%;
}

#modal-title:focus {
    outline: 5px solid #f5cb5c;
    border: none;
}

#modal-time{
    color: white;
    background-color: transparent;
    
    font-size: 1em;
    text-indent: 15px;

    grid-column: 5/6;
    grid-row: 1/2;
    align-self: baseline;
    justify-self: flex-end;
    
    outline: none;
    border-radius: 15px;
    border: none;
    
    height: 60%;
    width: 80%;
}

#modal-title:focus {
    outline: 5px solid #f5cb5c;
}

#content-container {
    grid-row: 2/3;
    grid-column: 1/6;
}

#modal-content {
    background-color: #e8eddf;
    
    box-sizing: border-box;
    display: block;
    
    margin: auto;
    padding: 15px;

    border-radius: 25px 5px 25px 5px;
    outline: 2px solid #333533;

    width: 100%;
    height: 90%;
}

#modal-content:focus {
    border: none;
    outline: 5px solid #f5cb5c;
}

#buttons {
    grid-column: 4/6;
    grid-row: 3/4;

    align-self: flex-end;

    height: 30%;
}

#submit, #cancel-button {
    font-size: 0.8em;
    
    float: right;

    border-radius: 15px;
    border: none;
    
    width: 40%;
    height: 100%;
}

#cancel-button {
    background-color: #e8eddf;
    color: black;

    text-align: center;
    line-height: 3.5em;
    
    margin-right: 15px;  
}

#submit {
    background-color: #f5cb5c;
}